        body {
            background-color: d9ecf2;
        }
        
        h1 {
            color: 2ec1ac;
        }
        
        h3 {
            color: 2ec1ac;
        }
        
        hr {
            border-color: grey;
            border-width: 5px;
            border-style: none;
            border-top-style: dotted;
            width: 5%;
        }